<!DOCTYPE html>
<html ng-app="xybus">
<head>
<meta http-equiv="Content-Type"content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="css/button.css" />
<link rel="stylesheet" href="css/input.css" />
<link rel="stylesheet" href="css/div.css" />
<script src="angular.js"></script>
<style>

 body{
     background-color: #fea
 } 
</style>
<script>
var app=angular.module('xybus', []);
app.controller('cont1', function ($scope, $http){	
    
    $scope.changepayway=function(){
     $http.get('http://192.168.0.116:8080/xybustools/ChangePayWay', {
     params: {job_number: $scope.charge_job_number,pay_way:$scope.pay_way}
    }).success(function (res){
      alert(res);
    }).error(function (){
      alert('失败了');
    });
    };
    $scope.exchangingcard=function(){
    $http.get( 'http://192.168.0.116:8080/xybustools/ExchangingCard', {
     params: {old_jobnumber: $scope.old_jobnumber,new_jobnumber:$scope.new_jobnumber}
    }).success(function (res){
      alert(res);
    }).error(function (){
      alert('失败了');
    });
    };
    $scope.judgeride=function(){
    $http.get('http://192.168.0.116:8080/xybustools/JudgeRide', {
     params: {job_number: $scope.job_number,card_pin: $scope.card_pin}
    }).success(function (res){
      alert(res);
    }).error(function (){
      alert('失败了');
    });
      };
});
</script>
</head>
<body ng-controller="cont1" >
<div>
<div class="pages">

    <div class="inputdiv">
    <input  NAME="job_number" TYPE="text" class="form-control"  ng-model="job_number">  
    </div>
    <div class="inputdiv">
    <input  NAME="card_pin" TYPE="text" class="form-control"  ng-model="card_pin">  
    </div>
</div>
<div> 
    <button type="button" class="button" ng-click="judgeride()">判断乘车</button>
</div>
    </div>
        <div>
<div>
<div class="pages">

    <div class="inputdiv">
    <input  NAME="old_jobnumber" TYPE="text" class="form-control"  ng-model="old_jobnumber">  
    </div>
    <div class="inputdiv">
    <input  NAME="new_jobnumber" TYPE="text" class="form-control"  ng-model="new_jobnumber">  
    </div>
</div>
<div> 
    <button type="button" class="button" ng-click="exchangingcard()">更换特种卡</button>
</div>
    </div>
        <div>
<div class="pages">

    <div class="inputdiv">
    <input  NAME="charge_job_number" TYPE="text" class="form-control" ng-model="charge_job_number">  
    </div>
    <div class="inputdiv">
     <input  NAME="pay_way" TYPE="text" class="form-control" ng-model="pay_way">
    </div>
</div>
<div> 
    <button type="button" class="button" ng-click="changepayway()">更换充值类型</button>
</div>
    </div>
        <div>
<div class="pages">

    <div class="inputdiv">
    <input  NAME="user_pass" TYPE="text" class="form-control">  
    </div>
    <div class="inputdiv">
    <input  NAME="user_pass" TYPE="text" class="form-control">  
    </div>
</div>
<div> 
    <button type="button" class="button">查询名单</button>
</div>
    </div>
</body>
</html>